body {
  box-shadow: 10px 10px 25px grey;
  padding: 2px 20px 0 20px;
 
}
#img-caption {
  color: grey;
  text-align: center;
}

h1, {
  
  font-family:  Sans-serif;
  font-size: 40px;
  
  
}

#title {
  font-size: 60px;
  padding-top: 5px;
  background-color: #ecf1f7;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: grey;
}
h4 {
  font-family:  Serif;
  text-align: center;
}

img { 
   border: 10px solid white;
   max-width: 30%;                  
   max-height: 30%;
   display: block;
   margin: auto;
   padding: 
   
}
#img-div {
  
   overflow: hidden;
   background-size: cover;
   background-position: center;
   background-image: url("https://ae01.alicdn.com/kf/HTB1iXQdKpXXXXXiXFXXq6xXFXXX2/3D-wallpaper-for-wall-3d-mural-wallpaper-bookcase-stereo-European-large-for-living-room-TV-backdrop.jpg");
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tribute-link {
  color: black;
  
}

  p {
    text-indent: 20px;
    font-family: Serif , Helvetica, Arial;
  
  }

#img-bottom {
   background-position: center;
 
}
